<a href="https://colab.research.google.com/github/ofabriciolima/trabalho-poo/blob/master/Introdu%C3%A7%C3%A3o_a_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Pelo longo?
#Perna curta?
#Late?
porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]

cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [1,1,1,0,0,0]

In [0]:
# Chamando biblioteca Skit Learning e importnado a biblioteca LinearSVC
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [0]:
animal_misterioso = [0, 0, 1]
a = modelo.predict([animal_misterioso])
if a[0] == 0:
  print("Cachorro")
else:
  print("Porco")

Cachorro

In [0]:
misterio1 = [1, 1, 1]
misterio2 = [1, 1, 0]
misterio3 = [0, 1, 1]

teste_x = [misterio1, misterio2, misterio3]
teste_y = [0, 1, 1]

In [0]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

In [0]:
from sklearn.metrics import accuracy_score
accuracy_score(teste_y, previsoes)

0.6666666666666666

In [0]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [0]:
dados.sample(5)

    home  how_it_works  contact  bought
87     0             0        1       0
85     1             1        0       0
15     0             0        1       0
90     1             0        1       1
28     0             1        0       0

In [0]:
x = dados[["home", "how_it_works", "contact"]]
x.head()

   home  how_it_works  contact
0     1             1        0
1     1             1        0
2     1             1        0
3     1             1        0
4     1             1        0

In [0]:
y = dados[["bought"]]
y.head()

   bought
0       0
1       0
2       0
3       0
4       0

In [0]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split

modelo = LinearSVC()
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)

modelo.fit(treino_x, treino_y)

previsoes2 = modelo.predict(teste_x)
accuracy_score(teste_y, previsoes2) * 100

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

92.0